<div class="content-layout">
  <div class="record-layout">
    <div class="container">
      <h1>獲獎紀錄</h1>
      <div class="record-block">
        <section class="record" animateOnScroll animationName="animated animatedFadeInUp fadeInUp" *ngFor="let item of recordList" [@routerTransition]>
          <img [src]="item.cover">
          <span class="info">{{ item.info }}</span>
        </section>
      </div>
      <button>了解更多</button>
    </div>
  </div>
  <div class="news-layout">
    <div class="container">
      <h1>最新訊息</h1>
      <ul class="news-tabs">
        <li [ngClass]="{ active: tabIndex === 0 }" (click)="changeTab(0)">近期活動</li>
        <li [ngClass]="{ active: tabIndex === 1 }" (click)="changeTab(1)">法律新知</li>
      </ul>
      <div class="activity-layout" *ngIf="tabIndex === 0">
        <div class="activity-block">
          <span class="title">授獎榮耀</span>
          <span class="info">蔡玉玲律師于 2019 年 7 月獲 Advisory Excellence 頒發 2019 FinTech Law Expert in Taiwan 獎項。</span>
        </div>
      </div>
      <div class="role-layout" *ngIf="tabIndex === 1">
        <section class="role-block" *ngFor="let item of roleList">
          <div class="cont">
            <span class="title">{{ item.title }}</span>
            <span class="info">{{ item.info }} […]</span>
          </div>
          <div class="foot">
            <span class="foot-cont">
              <i class="material-icons">list_alt</i>
              <span>Read more</span>
            </span>
          </div>
        </section>
      </div>
      <div class="buttons">
        <button class="activity">更多近期活動</button>
        <button class="role">更多法律新知</button>
      </div>
    </div>
  </div>
  <div class="practices-layout">
    <div class="practices-block">
      <h1>Greater China Practices</h1>
      <span class="info">在這過去的數十年間，中國大陸積極的發展與開放政策，使得中國大陸的經濟及科技進展迅速，目前已經到了一個國際間不可忽視的經濟大國的標準了。
        理慈結合大中華區的當地智慧及國際間的專業人才，提供各國的客戶一個最符合大中華區全方位在地需求的專業諮詢服務。 理慈為自己定位為大中華區法律事務所。</span>
      <div class="cont-layout">
        <section class="block" animateOnScroll animationName="animated animatedFadeInUp fadeInUp" *ngFor="let item of [1,2,3,4,5,6,7,8,1,2,3,4,5,6,7,8,1,2,3]">
          <img src="assets/images/icon.png">
          <div class="content">
            <span class="title">區塊鏈業務</span>
            <span class="cont">幫助本所客戶利用區塊鏈技術，提供法令遵循和透明性建議於欲發行之ICO和加密貨幣交易平臺，並探索新的創新可能。</span>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
