<div class="content-layout">
  <div class="record-layout">
    <h1>獲獎紀錄</h1>
    <div class="record-block">
      <section class="record" *ngFor="let item of recordList">
        <img [src]="item.cover">
        <span class="info">{{ item.info }}</span>
      </section>
    </div>
    <button>了解更多</button>
  </div>
  <div class="news-layout">
    <h1>最新訊息</h1>
    <ul class="news-tabs">
      <li [ngClass]="{ active: tabIndex === 0 }" (click)="changeTab(0)">近期活動</li>
      <li [ngClass]="{ active: tabIndex === 1 }" (click)="changeTab(1)">法律新知</li>
    </ul>
    <div class="activity-layout" *ngIf="tabIndex === 0">
      <div class="activity-block">
        <span class="title">授獎榮耀</span>
        <span class="info">蔡玉玲律師于 2019 年 7 月獲 Advisory Excellence 頒發 2019 FinTech Law Expert in Taiwan 獎項。</span>
      </div>
    </div>
    <div class="role-layout" *ngIf="tabIndex === 1">
      <section class="role-block" *ngFor="let item of roleList">
        <div class="cont">
          <span class="title">{{ item.title }}</span>
          <span class="info">{{ item.info }} […]</span>
        </div>
        <div class="foot">
          <span class="foot-cont">
            <i class="material-icons">list_alt</i>
            <span>Read more</span>
          </span>
        </div>
      </section>
    </div>
    <div class="buttons">
      <button class="activity">更多近期活動</button>
      <button class="role">更多法律新知</button>
    </div>
  </div>
  <div class="practices-layout">
    <h1>Greater China Practices</h1>
  </div>
</div>
