.content-layout {
  margin-top: 170px;
  background-image: url('/assets/images/contentBG.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: cover;
}
