<div class="footer-layout">
  <div class="content">
    <div class="container">
      <section class="block" *ngFor="let item of [1,2,3,4]">
        <span class="title">台北 / 總部</span>
        <span class="address">10669台北市敦化南路二段218號9樓</span>
        <span class="info">
          <span>Tel: 886.2.2378.5780</span>
          <span>Fax: 886.2.2378.5781</span>
          <span>E-mail: lawtec@leetsai.com</span>
        </span>
        <img src="assets/images/footer2.png">
      </section>
    </div>
  </div>
  <div class="copy">
    <div class="container">©2015 Lee Tsai & Partners All Rights Reserved. 理慈國際科技法律事務所</div>
  </div>
</div>
